{% extends 'base.html' %}

{% block head %}
<!--- Flash messages -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div style="color:black; font-size: 20px">
		{% for message in messages %}
  			{{ message }}</div>
		{% endfor %}
	{% endif %}
	{% endwith %}
	
<form action="/sms" method="POST">
		Enter the phone number you would like to send a roboreminder to:
	<input type="tel" id="phone" name="phone" required><br>
	<br>
	Enter the time and date when to send the roboreminder:<br>
	If right away, check the box:
	 <input type="checkbox" name="textrn" value="textrn"> Send immediately
	<br>
	<br> 
	Otherwise, Enter the date and time below:<br>
	<!-- min should be day before current date -->
	<input type="date" name="textdate" max="2019-12-31" min="2018-12-06">
	<!-- min must be 1 min before current time -->
	<input type="time" id="texttime" name="texttime">
	<small><select name="timezone">
		<option value="US/Eastern"> est</option>
		<option value="US/Pacific"> pst</option>
		<option value="US/Central"> ct</option>
		<option value="US/Mountain"> mt</option>
		<option value="US/Hawaii"> hst</option>
	</select></small>
    <br>
	Enter the reminder:<small> (55 char max)</small><br>
	<textarea rows="2" cols="25" maxlength="55" name="reminder" required></textarea><br>
	<input type="submit">	

</form>
<a href="/logout">logout</a>

{% endblock %}

{% block content %}
{% endblock %}
