{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

<!--- Flash messages -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div style="color:black; font-size: 20px">
		{% for message in messages %}
  			{{ message }}</div>
		{% endfor %}
	{% endif %}
	{% endwith %}

<!-- Login -->
<form action="/" method='POST'>
	<label for="login"><b>Login</b></label><br>
	<small>Username:</small><br>
	<input type="text" id="username" name="username" required>
	<br>
	<small>Password:</small><br>
	<input type="password" id="password" name="password" required>
	<br><br>
	<input type="submit">
	<br>
</form>

<!-- Register -->
<br>
<form action="/register" method='POST'>	
	<label for="register"><b>Register</b></label><br>
	<small>Enter a username:</small><br>
	<input type="text" name="new_username" id="new_username" required>
	<br>
	<small>Password (6 characters minimum):</small><br>
	<input type="password" name="pw1" id="pw1" placeholder="Enter password" minlength="6" required>
	<br>
	<input type="password" name="pw2" id="pw2" placeholder="Confirm password" required>
	<br><br>
	<input type="submit">
</form>
{% endblock %}